<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Token" value="498e4fc3fddeb027b3363fcfc0b77921"/>
    <add key="ApiUrl" value="http://api.openweathermap.org/data/2.5/onecall/timemachine?"/>
    <add key="Units" value="metric"/>
    <add key="ApiIcon" value="https://openweathermap.org/img/w/"/>
  </appSettings>
</configuration>